<h1>Hello World from Index!!!!</h1>

<%# Line 4 and Line 5 will work exactly the same ==> Links!  %>
<a href="/demo/hello">Hello Page 1</a><br />
<%= link_to('Hello Page 2', {:action => 'hello'})%>
<%# can also be written as 'hello' only without stating :action and curly bracket %>

